-- MySQL dump 10.16  Distrib 10.1.38-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: lentochanges
-- ------------------------------------------------------
-- Server version	10.1.38-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bankdeposit`
--

DROP TABLE IF EXISTS `bankdeposit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bankdeposit` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `transid` varchar(20) NOT NULL,
  `depositdate` date NOT NULL,
  `compcode` varchar(100) NOT NULL,
  `bankname` varchar(100) NOT NULL,
  `acctno` varchar(100) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `paymethod` varchar(50) NOT NULL,
  `paytype` varchar(50) NOT NULL,
  `referenceno` varchar(100) NOT NULL,
  `notes` varchar(255) NOT NULL,
  `createdby` varchar(100) NOT NULL,
  `createdon` datetime DEFAULT CURRENT_TIMESTAMP,
  UNIQUE KEY `depost` (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bankdeposit`
--

LOCK TABLES `bankdeposit` WRITE;
/*!40000 ALTER TABLE `bankdeposit` DISABLE KEYS */;
INSERT INTO `bankdeposit` VALUES (001,'00001','2019-10-21','COMP001','HDFC','13y9134149',4000.00,'Cash','Sales','ADAd','adAD','Lento','2019-10-21 20:21:01');
/*!40000 ALTER TABLE `bankdeposit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cashmemos`
--

DROP TABLE IF EXISTS `cashmemos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cashmemos` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `cashmem_code` varchar(100) DEFAULT NULL,
  `cashmem_owner` varchar(255) DEFAULT NULL,
  `cashmem_customer` varchar(100) DEFAULT NULL,
  `cashmem_comp_code` varchar(100) DEFAULT NULL,
  `cashmem_vendor` varchar(255) DEFAULT NULL,
  `cashmem_receipt_no` varchar(100) DEFAULT NULL,
  `cashmem_cust_ref_phno` varchar(30) DEFAULT NULL,
  `cashmem_date` varchar(100) DEFAULT NULL,
  `cashmem_paymentmode` varchar(255) DEFAULT NULL,
  `cashmem_deliveryat` varchar(100) DEFAULT NULL,
  `cashmem_status` varchar(15) DEFAULT NULL,
  `cashmem_value` varchar(100) DEFAULT NULL,
  `cashmem_tc` varchar(255) DEFAULT NULL,
  `cashmem_notes` varchar(255) DEFAULT NULL,
  `cashmem_items` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cashmemos`
--

LOCK TABLES `cashmemos` WRITE;
/*!40000 ALTER TABLE `cashmemos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cashmemos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compbank`
--

DROP TABLE IF EXISTS `compbank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compbank` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `orgid` varchar(25) NOT NULL,
  `name` varchar(40) DEFAULT NULL,
  `ctype` varchar(25) DEFAULT NULL,
  `location` varchar(30) DEFAULT NULL,
  `bankname` varchar(25) DEFAULT NULL,
  `acctno` varchar(20) NOT NULL,
  `acctname` varchar(40) NOT NULL,
  `acctype` varchar(20) NOT NULL,
  `branch` varchar(30) NOT NULL,
  `ifsc` varchar(25) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compbank`
--

LOCK TABLES `compbank` WRITE;
/*!40000 ALTER TABLE `compbank` DISABLE KEYS */;
INSERT INTO `compbank` VALUES (001,'COMP001',NULL,NULL,NULL,'HDFC','13y9134149','knsnsfn','Savings','ponamalle','sadlasfl');
/*!40000 ALTER TABLE `compbank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comprofile`
--

DROP TABLE IF EXISTS `comprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comprofile` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `orgid` varchar(15) NOT NULL,
  `prefix` varchar(15) DEFAULT 'DAPL',
  `title` varchar(50) NOT NULL,
  `orgname` varchar(100) NOT NULL,
  `shortname` varchar(100) NOT NULL,
  `orgtype` varchar(50) NOT NULL,
  `blocation` varchar(100) NOT NULL,
  `industry` varchar(50) NOT NULL,
  `address` varchar(255) NOT NULL,
  `city` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `zip` varchar(30) NOT NULL,
  `workphone` varchar(30) NOT NULL,
  `mobile` varchar(12) NOT NULL,
  `email` varchar(40) NOT NULL,
  `web` varchar(40) NOT NULL,
  `gstin` varchar(25) NOT NULL,
  `gstregdate` date NOT NULL,
  `panno` varchar(50) NOT NULL,
  `openbalance` decimal(10,2) NOT NULL DEFAULT '0.00',
  `balasofdate` date NOT NULL,
  `primaryflag` int(20) NOT NULL DEFAULT '0',
  `image` varchar(155) DEFAULT NULL,
  `tandc` varchar(500) DEFAULT NULL,
  `createdon` datetime DEFAULT CURRENT_TIMESTAMP,
  `createdby` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedby` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comprofile`
--

LOCK TABLES `comprofile` WRITE;
/*!40000 ALTER TABLE `comprofile` DISABLE KEYS */;
INSERT INTO `comprofile` VALUES (001,'COMP001','DAPL','','Lento Foods India Pvt Ltd','Lento','1','','1','POTCHAMPALLI','potchampalli','IN','TN','635108','','9677573737','lentofoods@gmail.com','','34433433434','2019-01-31','56656556',0.00,'2019-10-13',1,'upload/lento-logo.png',NULL,'2019-10-13 07:32:44','2019-10-13 07:32:44','2019-10-13 07:32:44','2019-10-13 07:32:44');
/*!40000 ALTER TABLE `comprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `country`
--

DROP TABLE IF EXISTS `country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `country` (
  `id` int(10) NOT NULL DEFAULT '0',
  `code` varchar(50) NOT NULL,
  `description` varchar(100) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `country`
--

LOCK TABLES `country` WRITE;
/*!40000 ALTER TABLE `country` DISABLE KEYS */;
/*!40000 ALTER TABLE `country` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `country_lookups`
--

DROP TABLE IF EXISTS `country_lookups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `country_lookups` (
  `id` int(10) NOT NULL DEFAULT '0',
  `code` varchar(50) NOT NULL,
  `description` varchar(100) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `country_lookups`
--

LOCK TABLES `country_lookups` WRITE;
/*!40000 ALTER TABLE `country_lookups` DISABLE KEYS */;
/*!40000 ALTER TABLE `country_lookups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `creditnotes`
--

DROP TABLE IF EXISTS `creditnotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `creditnotes` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `creditnote_id` varchar(100) DEFAULT NULL,
  `creditnote_owner` varchar(255) DEFAULT NULL,
  `creditnote_customer` varchar(20) DEFAULT NULL,
  `creditnote_comp_code` varchar(100) DEFAULT NULL,
  `creditnote_inv_code` varchar(50) DEFAULT NULL,
  `creditnote_cust_ref_no` varchar(30) DEFAULT NULL,
  `creditnote_paymentdate` varchar(20) DEFAULT NULL,
  `creditnote_paymentmode` varchar(20) DEFAULT NULL,
  `creditnote_status` varchar(15) DEFAULT NULL,
  `creditnote_shipping_street` varchar(255) DEFAULT NULL,
  `creditnote_shipping_city` varchar(255) DEFAULT NULL,
  `creditnote_shipping_state` varchar(255) DEFAULT NULL,
  `creditnote_shipping_country` varchar(255) DEFAULT NULL,
  `creditnote_shipping_zip` varchar(255) DEFAULT NULL,
  `creditnote_shipping_phone` varchar(255) DEFAULT NULL,
  `creditnote_shipping_gstin` varchar(255) DEFAULT NULL,
  `creditnote_billing_street` varchar(255) DEFAULT NULL,
  `creditnote_billing_city` varchar(255) DEFAULT NULL,
  `creditnote_billing_state` varchar(255) DEFAULT NULL,
  `creditnote_billing_country` varchar(255) DEFAULT NULL,
  `creditnote_billing_zip` varchar(255) DEFAULT NULL,
  `creditnote_billing_phone` varchar(255) DEFAULT NULL,
  `creditnote_billing_gstin` varchar(255) DEFAULT NULL,
  `creditnote_value` varchar(100) DEFAULT NULL,
  `creditnote_tc` varchar(255) DEFAULT NULL,
  `creditnote_notes` varchar(255) DEFAULT NULL,
  `creditnote_email_notification` varchar(10) DEFAULT NULL,
  `creditnote_items` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `creditnotes`
--

LOCK TABLES `creditnotes` WRITE;
/*!40000 ALTER TABLE `creditnotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `creditnotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_payments`
--

DROP TABLE IF EXISTS `customer_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_payments` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cust_payment_id` varchar(30) NOT NULL,
  `cust_payment_customer` varchar(45) DEFAULT NULL,
  `cust_payment_invoice_no` varchar(45) DEFAULT NULL,
  `cust_payment_amount` varchar(100) DEFAULT NULL,
  `cust_payment_credits_used` varchar(100) DEFAULT NULL,
  `cust_payment_date` varchar(45) DEFAULT NULL,
  `cust_payment_mode` varchar(45) DEFAULT NULL,
  `cust_payment_ref_no` varchar(45) DEFAULT NULL,
  `cust_payment_so_code` varchar(45) DEFAULT NULL,
  `cust_payment_inv_id` varchar(45) DEFAULT NULL,
  `cust_payment_user` varchar(100) DEFAULT NULL,
  `cust_payment_notes` varchar(255) DEFAULT NULL,
  `cust_payment_file` varchar(255) DEFAULT NULL,
  `cust_payment_notify` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_payments`
--

LOCK TABLES `customer_payments` WRITE;
/*!40000 ALTER TABLE `customer_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_paymentsacc`
--

DROP TABLE IF EXISTS `customer_paymentsacc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_paymentsacc` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cust_payment_id` varchar(30) NOT NULL,
  `cust_payment_customer` varchar(45) DEFAULT NULL,
  `cust_payment_invoice_no` varchar(45) DEFAULT NULL,
  `cust_payment_amount` varchar(100) DEFAULT NULL,
  `cust_payment_credits_used` varchar(100) DEFAULT NULL,
  `cust_payment_date` varchar(45) DEFAULT NULL,
  `cust_payment_mode` varchar(45) DEFAULT NULL,
  `cust_payment_ref_no` varchar(45) DEFAULT NULL,
  `cust_payment_so_code` varchar(45) DEFAULT NULL,
  `cust_payment_inv_id` varchar(45) DEFAULT NULL,
  `cust_payment_user` varchar(100) DEFAULT NULL,
  `cust_payment_notes` varchar(255) DEFAULT NULL,
  `cust_payment_file` varchar(255) DEFAULT NULL,
  `cust_payment_notify` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_paymentsacc`
--

LOCK TABLES `customer_paymentsacc` WRITE;
/*!40000 ALTER TABLE `customer_paymentsacc` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_paymentsacc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_refund`
--

DROP TABLE IF EXISTS `customer_refund`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_refund` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `customer_refund_id` varchar(20) DEFAULT NULL,
  `customer_refund_creditsid` varchar(20) DEFAULT NULL,
  `customer_refund_refno` varchar(100) DEFAULT NULL,
  `customer_refund_paymentmode` varchar(255) DEFAULT NULL,
  `customer_refund_paymentdate` varchar(10) DEFAULT NULL,
  `customer_refund_amount` decimal(10,2) DEFAULT NULL,
  `customer_refund_handler` varchar(100) DEFAULT NULL,
  `customer_refund_notes` varchar(255) DEFAULT NULL,
  `customer_refund_date` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_refund`
--

LOCK TABLES `customer_refund` WRITE;
/*!40000 ALTER TABLE `customer_refund` DISABLE KEYS */;
INSERT INTO `customer_refund` VALUES (1,'CUSTCNREF001','CUSTCR003','adad','Cheque','2019-10-21',10.00,'Lento','adsad','2019-10-21 19:14:01'),(2,'CUSTCNREF002','CUSTCR003','aSDasd','Cheque','2019-10-21',20.00,'Lento','asdASD','2019-10-21 19:14:40'),(3,'CUSTCNREF003','CUSTCR003','sASD','Cash','2019-10-21',20.00,'Lento','asdad','2019-10-21 19:15:23');
/*!40000 ALTER TABLE `customer_refund` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customercredits`
--

DROP TABLE IF EXISTS `customercredits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customercredits` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `customer_credits_id` varchar(20) DEFAULT NULL,
  `customer_credits_suptype` varchar(100) DEFAULT NULL,
  `customer_credits_custid` varchar(10) DEFAULT NULL,
  `customer_credits_paymentmode` varchar(255) DEFAULT NULL,
  `customer_credits_refno` varchar(100) DEFAULT NULL,
  `customer_credits_paymentdate` varchar(10) DEFAULT NULL,
  `customer_credits_amount` decimal(10,2) DEFAULT NULL,
  `customer_credits_availcredits` decimal(10,2) DEFAULT NULL,
  `customer_credits_handler` varchar(100) DEFAULT NULL,
  `customer_credits_notes` varchar(255) DEFAULT NULL,
  `customer_credits_image` varchar(155) DEFAULT NULL,
  `customer_credits_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `customer_credits_email_notification` varchar(5) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customercredits`
--

LOCK TABLES `customercredits` WRITE;
/*!40000 ALTER TABLE `customercredits` DISABLE KEYS */;
INSERT INTO `customercredits` VALUES (3,'CUSTCR003',NULL,'CUST003','Cash',NULL,'2019-10-21',100.00,0.00,'Lento','ADASD',NULL,'2019-10-21 18:46:56','no'),(4,'CUSTCR004',NULL,'CUST004','Credit Card',NULL,'2019-10-21',300.00,300.00,'Lento','adaSD',NULL,'2019-10-21 18:52:23','no');
/*!40000 ALTER TABLE `customercredits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customerprofile`
--

DROP TABLE IF EXISTS `customerprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customerprofile` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `custid` varchar(50) NOT NULL,
  `cust_opening_bal` varchar(100) DEFAULT NULL,
  `prefix` varchar(15) DEFAULT 'DAPL',
  `postfix` varchar(50) NOT NULL DEFAULT '/',
  `title` varchar(6) NOT NULL,
  `custname` varchar(50) NOT NULL,
  `portal` varchar(100) DEFAULT NULL,
  `custype` varchar(50) NOT NULL,
  `blocation` varchar(100) DEFAULT NULL,
  `industry` varchar(50) DEFAULT NULL,
  `address` varchar(255) NOT NULL,
  `city` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `zip` varchar(30) NOT NULL,
  `workphone` varchar(30) NOT NULL,
  `mobile` varchar(12) NOT NULL,
  `email` varchar(40) NOT NULL,
  `web` varchar(40) NOT NULL,
  `gstin` varchar(25) NOT NULL,
  `gstregdate` date DEFAULT NULL,
  `primaryflag` int(20) NOT NULL DEFAULT '0',
  `openbalance` decimal(10,2) NOT NULL DEFAULT '0.00',
  `obasofdate` datetime DEFAULT CURRENT_TIMESTAMP,
  `image` varchar(155) DEFAULT NULL,
  `createdon` datetime DEFAULT CURRENT_TIMESTAMP,
  `createdby` varchar(100) DEFAULT NULL,
  `updatedon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedby` varchar(100) DEFAULT NULL,
  `status` varchar(10) NOT NULL DEFAULT '1',
  `handler` varchar(100) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customerprofile`
--

LOCK TABLES `customerprofile` WRITE;
/*!40000 ALTER TABLE `customerprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `customerprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `custype`
--

DROP TABLE IF EXISTS `custype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `custype` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `custype` varchar(100) NOT NULL,
  `description` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `custype`
--

LOCK TABLES `custype` WRITE;
/*!40000 ALTER TABLE `custype` DISABLE KEYS */;
INSERT INTO `custype` VALUES (005,'Distributor/Supplier','Distributor'),(006,'Retailer','Retailer'),(007,'Marketing agent','Marketting Agent'),(021,'Wholesaler',''),(022,'Partner','Partner'),(023,'Scrap','Scrap');
/*!40000 ALTER TABLE `custype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `debitnotes`
--

DROP TABLE IF EXISTS `debitnotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `debitnotes` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `debitnote_id` varchar(100) DEFAULT NULL,
  `debitnote_owner` varchar(255) DEFAULT NULL,
  `debitnote_vendor` varchar(20) DEFAULT NULL,
  `debitnote_comp_code` varchar(100) DEFAULT NULL,
  `debitnote_grn_id` varchar(50) DEFAULT NULL,
  `debitnote_vendor_ref_no` varchar(30) DEFAULT NULL,
  `debitnote_paymentdate` varchar(20) DEFAULT NULL,
  `debitnote_paymentmode` varchar(20) DEFAULT NULL,
  `debitnote_status` varchar(15) DEFAULT NULL,
  `debitnote_shipping_street` varchar(255) DEFAULT NULL,
  `debitnote_shipping_city` varchar(255) DEFAULT NULL,
  `debitnote_shipping_state` varchar(255) DEFAULT NULL,
  `debitnote_shipping_country` varchar(255) DEFAULT NULL,
  `debitnote_shipping_zip` varchar(255) DEFAULT NULL,
  `debitnote_shipping_phone` varchar(255) DEFAULT NULL,
  `debitnote_shipping_gstin` varchar(255) DEFAULT NULL,
  `debitnote_billing_street` varchar(255) DEFAULT NULL,
  `debitnote_billing_city` varchar(255) DEFAULT NULL,
  `debitnote_billing_state` varchar(255) DEFAULT NULL,
  `debitnote_billing_country` varchar(255) DEFAULT NULL,
  `debitnote_billing_zip` varchar(255) DEFAULT NULL,
  `debitnote_billing_phone` varchar(255) DEFAULT NULL,
  `debitnote_billing_gstin` varchar(255) DEFAULT NULL,
  `debitnote_value` varchar(100) DEFAULT NULL,
  `debitnote_tc` varchar(255) DEFAULT NULL,
  `debitnote_notes` varchar(255) DEFAULT NULL,
  `debitnote_email_notification` varchar(10) DEFAULT NULL,
  `debitnote_items` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `debitnotes`
--

LOCK TABLES `debitnotes` WRITE;
/*!40000 ALTER TABLE `debitnotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `debitnotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estimates`
--

DROP TABLE IF EXISTS `estimates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `estimates` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `est_code` varchar(100) DEFAULT NULL,
  `est_owner` varchar(255) DEFAULT NULL,
  `est_customer` varchar(20) DEFAULT NULL,
  `est_comp_code` varchar(100) DEFAULT NULL,
  `est_cust_ref_no` varchar(30) DEFAULT NULL,
  `est_date` varchar(20) DEFAULT NULL,
  `est_expdate` varchar(20) DEFAULT NULL,
  `est_status` varchar(15) DEFAULT NULL,
  `est_cust_shipping_street` varchar(255) DEFAULT NULL,
  `est_cust_shipping_city` varchar(255) DEFAULT NULL,
  `est_cust_shipping_state` varchar(255) DEFAULT NULL,
  `est_cust_shipping_country` varchar(255) DEFAULT NULL,
  `est_cust_shipping_zip` varchar(255) DEFAULT NULL,
  `est_cust_shipping_phone` varchar(255) DEFAULT NULL,
  `est_cust_shipping_gstin` varchar(255) DEFAULT NULL,
  `est_cust_billing_street` varchar(255) DEFAULT NULL,
  `est_cust_billing_city` varchar(255) DEFAULT NULL,
  `est_cust_billing_state` varchar(255) DEFAULT NULL,
  `est_cust_billing_country` varchar(255) DEFAULT NULL,
  `est_cust_billing_zip` varchar(255) DEFAULT NULL,
  `est_cust_billing_phone` varchar(255) DEFAULT NULL,
  `est_cust_billing_gstin` varchar(255) DEFAULT NULL,
  `est_value` varchar(100) DEFAULT NULL,
  `est_tc` varchar(255) DEFAULT NULL,
  `est_cust_notes` varchar(255) DEFAULT NULL,
  `est_items` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estimates`
--

LOCK TABLES `estimates` WRITE;
/*!40000 ALTER TABLE `estimates` DISABLE KEYS */;
/*!40000 ALTER TABLE `estimates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenseacctmaster`
--

DROP TABLE IF EXISTS `expenseacctmaster`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expenseacctmaster` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `accountname` varchar(100) NOT NULL,
  `description` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenseacctmaster`
--

LOCK TABLES `expenseacctmaster` WRITE;
/*!40000 ALTER TABLE `expenseacctmaster` DISABLE KEYS */;
/*!40000 ALTER TABLE `expenseacctmaster` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expensenoteslog`
--

DROP TABLE IF EXISTS `expensenoteslog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expensenoteslog` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `voucherid` varchar(100) NOT NULL,
  `notes` varchar(255) NOT NULL,
  `createdby` varchar(100) NOT NULL,
  `updatedby` varchar(100) DEFAULT NULL,
  `createdon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expensenoteslog`
--

LOCK TABLES `expensenoteslog` WRITE;
/*!40000 ALTER TABLE `expensenoteslog` DISABLE KEYS */;
/*!40000 ALTER TABLE `expensenoteslog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expenses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `expense_no` varchar(20) NOT NULL,
  `expense_date` varchar(15) NOT NULL,
  `expense_total_amount` decimal(10,2) NOT NULL,
  `expense_paid_thru` varchar(100) NOT NULL,
  `expense_payee_type` varchar(50) NOT NULL,
  `expense_payee` varchar(200) NOT NULL,
  `expense_invoice_no` varchar(20) NOT NULL,
  `expense_handler` varchar(50) NOT NULL,
  `expense_notes` text NOT NULL,
  `expense_items` text NOT NULL,
  `expense_updated_on` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `expense_status` varchar(15) NOT NULL,
  `expense_file_src` text NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=72 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
INSERT INTO `expenses` VALUES (70,'01','2019-10-21',0.00,'Cash','Vendor','payee','','Lento','m,vs','[{\"expense_category\":\"Advertising & Marketting\",\"expense_desc\":\"desc\",\"expense_amount\":\"1222\"}]','2019-10-21 13:50:39','Created',''),(71,'071','2019-10-21',0.00,'Cash','Vendor','payee','','Lento','m,vs','[{\"expense_category\":\"Advertising & Marketting\",\"expense_desc\":\"desc\",\"expense_amount\":\"1222\"}]','2019-10-21 13:50:44','Created','upload/071.png');
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `grn_notes`
--

DROP TABLE IF EXISTS `grn_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `grn_notes` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `grn_id` varchar(100) DEFAULT NULL,
  `grn_comp_code` varchar(50) DEFAULT NULL,
  `grn_owner` varchar(100) DEFAULT NULL,
  `grn_po_code` varchar(100) DEFAULT NULL,
  `grn_po_value` varchar(100) DEFAULT NULL,
  `grn_po_vendor` varchar(50) DEFAULT NULL,
  `grn_payterm` varchar(50) DEFAULT NULL,
  `grn_po_payterm` varchar(50) DEFAULT NULL,
  `grn_po_date` varchar(10) DEFAULT NULL,
  `grn_po_deliveryat` varchar(100) DEFAULT NULL,
  `grn_po_shippingvia` varchar(255) DEFAULT NULL,
  `grn_balance` varchar(45) DEFAULT NULL,
  `grn_date` varchar(45) DEFAULT NULL,
  `grn_due_date` varchar(45) DEFAULT NULL,
  `grn_payment_status` varchar(45) DEFAULT NULL,
  `grn_invoice_no` varchar(45) DEFAULT NULL,
  `grn_invoice_date` varchar(45) DEFAULT NULL,
  `grn_delivery_on` varchar(45) DEFAULT NULL,
  `grn_freight` varchar(100) DEFAULT NULL,
  `grn_status` varchar(45) DEFAULT NULL,
  `grn_notes` varchar(255) DEFAULT NULL,
  `grn_po_items` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `grn_notes`
--

LOCK TABLES `grn_notes` WRITE;
/*!40000 ALTER TABLE `grn_notes` DISABLE KEYS */;
INSERT INTO `grn_notes` VALUES (1,'GRN-000001','COMP001','Lento','','2000.00','00001',NULL,'1','','ssfasdf','amsdmaldf','1800','2019-10-13',NULL,'Partially Paid','invoice13123','2019-12-04','2019-10-13',NULL,'Approved','note','[{\"itemdetails\":\"[LEN-01] Inward Self Item one \",\"itemcode\":\"1\",\"rwqty\":\"20\",\"tax_val\":\"28.00\",\"tax_id\":\"6\",\"tax_type\":\"split\",\"tax_method\":\"1\",\"rwprice\":\"100.00\",\"rwprice_org\":\"100.00\",\"rwamt\":\"2000\",\"podiscount\":\"0\",\"poadjustmentval\":\"\",\"podiscount_method\":\"flat\",\"uom\":\"KGS\"}]');
/*!40000 ALTER TABLE `grn_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `groups`
--

DROP TABLE IF EXISTS `groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `groups` (
  `id` int(1) unsigned NOT NULL AUTO_INCREMENT,
  `groupname` varchar(50) NOT NULL,
  `description` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `groups`
--

LOCK TABLES `groups` WRITE;
/*!40000 ALTER TABLE `groups` DISABLE KEYS */;
INSERT INTO `groups` VALUES (1,'Admin','Unrestricted Access to All Modules. Administrator'),(9,'General Manager','General Manager'),(10,'Senior Manager Commercial','Senior Manager Commercial'),(11,'Manager','Senior Manager - Quality Assurance'),(12,'Executive','Stores Executive');
/*!40000 ALTER TABLE `groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hsncode_lookups`
--

DROP TABLE IF EXISTS `hsncode_lookups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hsncode_lookups` (
  `id` int(5) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `hsncode` varchar(50) NOT NULL,
  `description` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hsncode_lookups`
--

LOCK TABLES `hsncode_lookups` WRITE;
/*!40000 ALTER TABLE `hsncode_lookups` DISABLE KEYS */;
/*!40000 ALTER TABLE `hsncode_lookups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `inv_code` varchar(100) DEFAULT NULL,
  `inv_type` varchar(30) DEFAULT NULL,
  `inv_owner` varchar(255) DEFAULT NULL,
  `inv_customer` varchar(100) DEFAULT NULL,
  `inv_comp_code` varchar(100) DEFAULT NULL,
  `inv_vendor` varchar(255) DEFAULT NULL,
  `inv_so_code` varchar(100) DEFAULT NULL,
  `inv_description` varchar(255) DEFAULT NULL,
  `inv_date` varchar(100) DEFAULT NULL,
  `inv_duedate` varchar(100) DEFAULT NULL,
  `inv_cust_ref_phno` varchar(100) DEFAULT NULL,
  `inv_paymentmode` varchar(100) DEFAULT NULL,
  `inv_receipt_no` varchar(100) DEFAULT NULL,
  `inv_payterm` varchar(255) DEFAULT NULL,
  `inv_payterm_desc` varchar(50) DEFAULT NULL,
  `inv_shippingvia` varchar(100) DEFAULT NULL,
  `inv_deliveryat` varchar(100) DEFAULT NULL,
  `inv_deliverydate` varchar(100) DEFAULT NULL,
  `inv_status` varchar(15) DEFAULT NULL,
  `inv_freight` varchar(255) DEFAULT NULL,
  `inv_shipping_street` varchar(255) DEFAULT NULL,
  `inv_shipping_city` varchar(255) DEFAULT NULL,
  `inv_shipping_state` varchar(255) DEFAULT NULL,
  `inv_shipping_country` varchar(255) DEFAULT NULL,
  `inv_shipping_zip` varchar(255) DEFAULT NULL,
  `inv_shipping_phone` varchar(255) DEFAULT NULL,
  `inv_shipping_gstin` varchar(255) DEFAULT NULL,
  `inv_billing_street` varchar(255) DEFAULT NULL,
  `inv_billing_city` varchar(255) DEFAULT NULL,
  `inv_billing_state` varchar(255) DEFAULT NULL,
  `inv_billing_country` varchar(255) DEFAULT NULL,
  `inv_billing_zip` varchar(255) DEFAULT NULL,
  `inv_billing_phone` varchar(255) DEFAULT NULL,
  `inv_billing_gstin` varchar(255) DEFAULT NULL,
  `inv_value` varchar(100) DEFAULT NULL,
  `inv_balance_amt` varchar(30) DEFAULT NULL,
  `inv_payment_status` varchar(30) DEFAULT NULL,
  `inv_tc` varchar(255) DEFAULT NULL,
  `inv_notes` varchar(255) DEFAULT NULL,
  `inv_items` longtext,
  `inv_truck_no` varchar(255) DEFAULT NULL,
  `inv_driver_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoicesacc`
--

DROP TABLE IF EXISTS `invoicesacc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoicesacc` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `inv_code` varchar(100) DEFAULT NULL,
  `inv_type` varchar(30) DEFAULT NULL,
  `inv_owner` varchar(255) DEFAULT NULL,
  `inv_customer` varchar(100) DEFAULT NULL,
  `inv_comp_code` varchar(100) DEFAULT NULL,
  `inv_vendor` varchar(255) DEFAULT NULL,
  `inv_so_code` varchar(100) DEFAULT NULL,
  `inv_description` varchar(255) DEFAULT NULL,
  `inv_date` varchar(100) DEFAULT NULL,
  `inv_duedate` varchar(100) DEFAULT NULL,
  `inv_cust_ref_phno` varchar(100) DEFAULT NULL,
  `inv_paymentmode` varchar(100) DEFAULT NULL,
  `inv_receipt_no` varchar(100) DEFAULT NULL,
  `inv_payterm` varchar(255) DEFAULT NULL,
  `inv_payterm_desc` varchar(50) DEFAULT NULL,
  `inv_shippingvia` varchar(100) DEFAULT NULL,
  `inv_deliveryat` varchar(100) DEFAULT NULL,
  `inv_deliverydate` varchar(100) DEFAULT NULL,
  `inv_status` varchar(15) DEFAULT NULL,
  `inv_freight` varchar(255) DEFAULT NULL,
  `inv_shipping_street` varchar(255) DEFAULT NULL,
  `inv_shipping_city` varchar(255) DEFAULT NULL,
  `inv_shipping_state` varchar(255) DEFAULT NULL,
  `inv_shipping_country` varchar(255) DEFAULT NULL,
  `inv_shipping_zip` varchar(255) DEFAULT NULL,
  `inv_shipping_phone` varchar(255) DEFAULT NULL,
  `inv_shipping_gstin` varchar(255) DEFAULT NULL,
  `inv_billing_street` varchar(255) DEFAULT NULL,
  `inv_billing_city` varchar(255) DEFAULT NULL,
  `inv_billing_state` varchar(255) DEFAULT NULL,
  `inv_billing_country` varchar(255) DEFAULT NULL,
  `inv_billing_zip` varchar(255) DEFAULT NULL,
  `inv_billing_phone` varchar(255) DEFAULT NULL,
  `inv_billing_gstin` varchar(255) DEFAULT NULL,
  `inv_value` varchar(100) DEFAULT NULL,
  `inv_balance_amt` varchar(30) DEFAULT NULL,
  `inv_payment_status` varchar(30) DEFAULT NULL,
  `inv_tc` varchar(255) DEFAULT NULL,
  `inv_notes` varchar(255) DEFAULT NULL,
  `inv_items` longtext,
  `inv_truck_no` varchar(255) DEFAULT NULL,
  `inv_driver_name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoicesacc`
--

LOCK TABLES `invoicesacc` WRITE;
/*!40000 ALTER TABLE `invoicesacc` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoicesacc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `itemcategory`
--

DROP TABLE IF EXISTS `itemcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `itemcategory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(30) NOT NULL,
  `category` varchar(50) NOT NULL,
  `description` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `itemcategory`
--

LOCK TABLES `itemcategory` WRITE;
/*!40000 ALTER TABLE `itemcategory` DISABLE KEYS */;
INSERT INTO `itemcategory` VALUES (1,'CAT001','Mango Pulp','Mango Pulp');
/*!40000 ALTER TABLE `itemcategory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `location`
--

DROP TABLE IF EXISTS `location`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `location` (
  `id` int(2) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `locname` varchar(100) NOT NULL,
  `description` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `location`
--

LOCK TABLES `location` WRITE;
/*!40000 ALTER TABLE `location` DISABLE KEYS */;
INSERT INTO `location` VALUES (31,'Andhra','Andhra'),(32,'ARC ├óΓé¼ΓÇ£ Sullurpeta / Renigunta','ARC ├óΓé¼ΓÇ£ Sullurpeta / Renigunta');
/*!40000 ALTER TABLE `location` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partnerentries`
--

DROP TABLE IF EXISTS `partnerentries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `partnerentries` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `pe_code` varchar(10) NOT NULL,
  `pe_orgid` varchar(10) NOT NULL,
  `entrytype` varchar(20) NOT NULL DEFAULT 'outsourced',
  `pe_items` text NOT NULL,
  `pe_status` varchar(10) NOT NULL,
  `pe_updatedon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `pe_handler` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partnerentries`
--

LOCK TABLES `partnerentries` WRITE;
/*!40000 ALTER TABLE `partnerentries` DISABLE KEYS */;
INSERT INTO `partnerentries` VALUES (7,'MAAPE-001','CUST001','outsourced','[{\"item\":\"MAA-02\",\"itemname\":\"MAA-02-inward outsourced item one maavin\",\"uom\":\"BND\",\"qty\":\"244\"}]','Approved','2019-10-19 07:56:19','Lento');
/*!40000 ALTER TABLE `partnerentries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `payment_id` varchar(12) NOT NULL,
  `payment_vendor` varchar(45) DEFAULT NULL,
  `payment_invoice_no` varchar(45) DEFAULT NULL,
  `payment_amount` varchar(100) DEFAULT NULL,
  `payment_credits_used` varchar(100) DEFAULT NULL,
  `payment_date` varchar(45) DEFAULT NULL,
  `payment_mode` varchar(45) DEFAULT NULL,
  `payment_ref_no` varchar(45) DEFAULT NULL,
  `payment_bank` varchar(255) DEFAULT NULL,
  `payment_po_code` varchar(45) DEFAULT NULL,
  `payment_grn_id` varchar(45) DEFAULT NULL,
  `payment_user` varchar(100) DEFAULT NULL,
  `payment_notes` varchar(255) DEFAULT NULL,
  `payment_file` varchar(255) DEFAULT NULL,
  `payment_notify` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (1,'000001','00001','invoice13123','200','100.00','2019-10-19','Cash','hbhbj','hgjbkk','','GRN-000001','Lento','kkjk',NULL,NULL);
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paymentterm`
--

DROP TABLE IF EXISTS `paymentterm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paymentterm` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `paymentterm` varchar(40) NOT NULL,
  `noofdays` varchar(50) NOT NULL,
  `description` varchar(40) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paymentterm`
--

LOCK TABLES `paymentterm` WRITE;
/*!40000 ALTER TABLE `paymentterm` DISABLE KEYS */;
INSERT INTO `paymentterm` VALUES (031,'Advance','1','Advance'),(032,'Immediate','2','Immediate Payment'),(033,'Due 60 Days','60','Due on 60 Days '),(034,'Due on Receipt','3','Due on Receipt'),(035,'Due 30 Days','30','Due 30 Days'),(036,'Due 15 Days','15','Due on 15 Days'),(037,'Due 7 Days','7','Due 7 Days');
/*!40000 ALTER TABLE `paymentterm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productionlist`
--

DROP TABLE IF EXISTS `productionlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `productionlist` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `entrytype` varchar(20) DEFAULT NULL,
  `orgid` varchar(10) DEFAULT NULL,
  `prod_code` varchar(20) DEFAULT NULL,
  `prod_handler` varchar(100) DEFAULT NULL,
  `prod_company` varchar(100) DEFAULT NULL,
  `prod_item` varchar(10) DEFAULT NULL,
  `prod_qty` int(10) DEFAULT NULL,
  `prod_uom` varchar(50) DEFAULT NULL,
  `prod_date` varchar(12) DEFAULT NULL,
  `prod_status` varchar(15) DEFAULT NULL,
  `prod_raw_items` text,
  `prod_notes` varchar(355) DEFAULT NULL,
  `prod_edit` int(1) DEFAULT NULL,
  `prod_created_date` varchar(12) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productionlist`
--

LOCK TABLES `productionlist` WRITE;
/*!40000 ALTER TABLE `productionlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `productionlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchaseitemaster`
--

DROP TABLE IF EXISTS `purchaseitemaster`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchaseitemaster` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `entrytype` varchar(50) DEFAULT NULL,
  `orgid` varchar(50) DEFAULT NULL,
  `itemcode` varchar(100) NOT NULL,
  `itemname` varchar(50) NOT NULL,
  `category` varchar(50) DEFAULT ' ',
  `description` varchar(100) DEFAULT NULL,
  `vendor` varchar(255) NOT NULL,
  `hsncode` varchar(100) NOT NULL,
  `status` varchar(15) NOT NULL DEFAULT '1',
  `priceperqty` decimal(10,2) DEFAULT '0.00',
  `salespriceperqty` decimal(10,2) DEFAULT NULL,
  `uom` varchar(100) NOT NULL,
  `taxmethod` varchar(20) NOT NULL DEFAULT '0',
  `taxname` varchar(100) NOT NULL,
  `taxrate` decimal(10,2) NOT NULL,
  `taxtype` varchar(50) NOT NULL,
  `taxid` varchar(50) NOT NULL,
  `taxamount` decimal(10,2) NOT NULL,
  `itemcost` decimal(10,2) NOT NULL,
  `taxableprice` decimal(10,2) NOT NULL,
  `pricedatefrom` date NOT NULL,
  `stockinqty` decimal(10,2) DEFAULT NULL,
  `stockinuom` varchar(100) DEFAULT NULL,
  `lowstockalert` varchar(50) NOT NULL,
  `stockasofdate` date DEFAULT NULL,
  `usageunit` varchar(30) DEFAULT NULL,
  `handler` varchar(30) NOT NULL,
  `notes` varchar(255) NOT NULL,
  `updatedon` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `image` varchar(155) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchaseitemaster`
--

LOCK TABLES `purchaseitemaster` WRITE;
/*!40000 ALTER TABLE `purchaseitemaster` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchaseitemaster` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchaseitemlog`
--

DROP TABLE IF EXISTS `purchaseitemlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchaseitemlog` (
  `id` int(4) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `entrytype` varchar(20) DEFAULT NULL,
  `orgid` varchar(50) DEFAULT NULL,
  `itemcode` varchar(50) NOT NULL,
  `itemname` varchar(100) NOT NULL,
  `qtyonhand` decimal(10,2) DEFAULT NULL,
  `newqty` decimal(10,2) DEFAULT NULL,
  `qtyadjusted` decimal(10,2) DEFAULT '0.00',
  `uom` varchar(100) DEFAULT NULL,
  `adjustedon` datetime DEFAULT CURRENT_TIMESTAMP,
  `handler` varchar(100) NOT NULL,
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchaseitemlog`
--

LOCK TABLES `purchaseitemlog` WRITE;
/*!40000 ALTER TABLE `purchaseitemlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchaseitemlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchaseorders`
--

DROP TABLE IF EXISTS `purchaseorders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchaseorders` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `po_code` varchar(100) DEFAULT NULL,
  `po_owner` varchar(255) DEFAULT NULL,
  `po_comp_code` varchar(100) DEFAULT NULL,
  `po_vendor` varchar(255) DEFAULT NULL,
  `po_description` varchar(255) DEFAULT NULL,
  `po_date` varchar(100) DEFAULT NULL,
  `po_payterm` varchar(255) DEFAULT NULL,
  `po_payterm_desc` varchar(50) DEFAULT NULL,
  `po_shippingvia` varchar(100) DEFAULT NULL,
  `po_deliveryat` varchar(100) DEFAULT NULL,
  `po_deliverydate` varchar(100) DEFAULT NULL,
  `po_status` varchar(15) DEFAULT NULL,
  `po_freight` varchar(255) DEFAULT NULL,
  `po_shipping_street` varchar(255) DEFAULT NULL,
  `po_shipping_city` varchar(255) DEFAULT NULL,
  `po_shipping_state` varchar(255) DEFAULT NULL,
  `po_shipping_country` varchar(255) DEFAULT NULL,
  `po_shipping_zip` varchar(255) DEFAULT NULL,
  `po_shipping_phone` varchar(255) DEFAULT NULL,
  `po_shipping_gstin` varchar(255) DEFAULT NULL,
  `po_billing_street` varchar(255) DEFAULT NULL,
  `po_billing_city` varchar(255) DEFAULT NULL,
  `po_billing_state` varchar(255) DEFAULT NULL,
  `po_billing_country` varchar(255) DEFAULT NULL,
  `po_billing_zip` varchar(255) DEFAULT NULL,
  `po_billing_phone` varchar(255) DEFAULT NULL,
  `po_billing_gstin` varchar(255) DEFAULT NULL,
  `po_value` varchar(100) DEFAULT NULL,
  `po_tc` varchar(255) DEFAULT NULL,
  `po_notes` varchar(255) DEFAULT NULL,
  `po_items` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchaseorders`
--

LOCK TABLES `purchaseorders` WRITE;
/*!40000 ALTER TABLE `purchaseorders` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchaseorders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purpricemaster`
--

DROP TABLE IF EXISTS `purpricemaster`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purpricemaster` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `itemcode` varchar(30) NOT NULL,
  `taxmethod` varchar(30) NOT NULL,
  `taxrate` decimal(10,1) NOT NULL,
  `priceperqty` decimal(10,1) NOT NULL,
  `priceperuom` decimal(10,1) NOT NULL,
  `datefrom` date NOT NULL,
  `notes` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purpricemaster`
--

LOCK TABLES `purpricemaster` WRITE;
/*!40000 ALTER TABLE `purpricemaster` DISABLE KEYS */;
/*!40000 ALTER TABLE `purpricemaster` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rawitemaster`
--

DROP TABLE IF EXISTS `rawitemaster`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rawitemaster` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `entrytype` varchar(50) DEFAULT NULL,
  `rw_code` varchar(10) NOT NULL,
  `orgid` varchar(10) DEFAULT NULL,
  `proditemcode` varchar(100) DEFAULT NULL,
  `raw_items` text,
  `handler` varchar(255) DEFAULT NULL,
  `createdon` datetime DEFAULT CURRENT_TIMESTAMP,
  `createdby` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rawitemaster`
--

LOCK TABLES `rawitemaster` WRITE;
/*!40000 ALTER TABLE `rawitemaster` DISABLE KEYS */;
/*!40000 ALTER TABLE `rawitemaster` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recordexpense`
--

DROP TABLE IF EXISTS `recordexpense`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recordexpense` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `voucherid` varchar(50) NOT NULL,
  `date` date NOT NULL,
  `accountname` varchar(250) NOT NULL,
  `payee` varchar(100) NOT NULL,
  `payeetype` varchar(100) NOT NULL,
  `paymentype` varchar(100) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `notes` varchar(255) NOT NULL,
  `image` varchar(155) DEFAULT NULL,
  `createdby` varchar(100) DEFAULT NULL,
  `createdon` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedby` varchar(100) NOT NULL,
  `updatedon` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recordexpense`
--

LOCK TABLES `recordexpense` WRITE;
/*!40000 ALTER TABLE `recordexpense` DISABLE KEYS */;
/*!40000 ALTER TABLE `recordexpense` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recordpayments`
--

DROP TABLE IF EXISTS `recordpayments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recordpayments` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `transid` varchar(50) NOT NULL,
  `date` date NOT NULL,
  `partyname` varchar(155) NOT NULL,
  `place` varchar(155) NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `receivedat` varchar(100) NOT NULL,
  `reference` varchar(155) NOT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `image` varchar(155) DEFAULT NULL,
  `createdby` varchar(100) DEFAULT NULL,
  `createdon` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedby` varchar(100) DEFAULT NULL,
  `updatedon` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recordpayments`
--

LOCK TABLES `recordpayments` WRITE;
/*!40000 ALTER TABLE `recordpayments` DISABLE KEYS */;
/*!40000 ALTER TABLE `recordpayments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesitemaster2`
--

DROP TABLE IF EXISTS `salesitemaster2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `salesitemaster2` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `entrytype` varchar(20) DEFAULT NULL,
  `itemcode` varchar(100) DEFAULT NULL,
  `orgid` varchar(10) DEFAULT NULL,
  `itemname` varchar(50) DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `description` varchar(100) DEFAULT NULL,
  `sales_vendorid` varchar(20) DEFAULT NULL,
  `hsncode` varchar(100) DEFAULT NULL,
  `sales_priceperqty` varchar(100) DEFAULT NULL,
  `priceperqty` varchar(100) DEFAULT NULL,
  `sales_uom` varchar(100) DEFAULT NULL,
  `uom` varchar(100) DEFAULT NULL,
  `sales_taxmethod` varchar(20) DEFAULT '0',
  `taxmethod` varchar(20) DEFAULT '0',
  `sales_taxname` varchar(100) DEFAULT NULL,
  `taxname` varchar(100) DEFAULT NULL,
  `sales_taxrate` varchar(100) DEFAULT NULL,
  `taxrate` varchar(100) DEFAULT NULL,
  `sales_taxtype` varchar(50) DEFAULT NULL,
  `taxtype` varchar(50) DEFAULT NULL,
  `sales_taxamount` varchar(100) DEFAULT NULL,
  `taxamount` varchar(100) DEFAULT NULL,
  `sales_taxid` varchar(50) DEFAULT NULL,
  `taxid` varchar(50) DEFAULT NULL,
  `itemcost` varchar(100) DEFAULT NULL,
  `taxableprice` varchar(100) DEFAULT NULL,
  `sales_pricedatefrom` date DEFAULT NULL,
  `pricedatefrom` date DEFAULT NULL,
  `stockinqty` decimal(10,2) DEFAULT NULL,
  `stockinqty_date` varchar(30) DEFAULT NULL,
  `stockinuom` int(20) DEFAULT NULL,
  `lowstockalert` varchar(50) DEFAULT NULL,
  `stockasofdate` date DEFAULT NULL,
  `usageunit` varchar(30) DEFAULT NULL,
  `handler` varchar(30) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `updatedon` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `image` varchar(155) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesitemaster2`
--

LOCK TABLES `salesitemaster2` WRITE;
/*!40000 ALTER TABLE `salesitemaster2` DISABLE KEYS */;
/*!40000 ALTER TABLE `salesitemaster2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesitemlog`
--

DROP TABLE IF EXISTS `salesitemlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `salesitemlog` (
  `id` int(15) NOT NULL AUTO_INCREMENT,
  `entrytype` varchar(20) DEFAULT NULL,
  `orgid` varchar(10) DEFAULT NULL,
  `custid` varchar(10) DEFAULT NULL,
  `itemcode` varchar(50) NOT NULL,
  `itemname` varchar(100) NOT NULL,
  `category` varchar(100) NOT NULL,
  `oldpriceqty` decimal(10,1) NOT NULL,
  `newpriceqty` decimal(10,1) NOT NULL,
  `olduom` varchar(100) NOT NULL,
  `newuom` varchar(100) NOT NULL,
  `oldstock` varchar(100) NOT NULL,
  `newstock` varchar(100) NOT NULL,
  `taxmethod` varchar(100) NOT NULL,
  `taxrate` decimal(10,1) NOT NULL,
  `stockasofdate` date NOT NULL,
  `newstockasofdate` date NOT NULL,
  `notes` varchar(500) NOT NULL,
  `updatedon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `createdon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `createdby` varchar(100) NOT NULL,
  `updatedby` varchar(100) NOT NULL,
  `taxname` varchar(100) DEFAULT NULL,
  `newtaxamount` decimal(10,1) NOT NULL,
  `taxamount` decimal(10,1) NOT NULL,
  `newitemcost` decimal(10,1) NOT NULL,
  `itemcost` decimal(10,1) NOT NULL,
  `newtaxableprice` decimal(10,1) NOT NULL,
  `newpriceasofdate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `taxableprice` decimal(10,1) NOT NULL,
  `hsncode` varchar(100) NOT NULL,
  `newtaxrate` decimal(10,1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesitemlog`
--

LOCK TABLES `salesitemlog` WRITE;
/*!40000 ALTER TABLE `salesitemlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `salesitemlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesitemlognew`
--

DROP TABLE IF EXISTS `salesitemlognew`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `salesitemlognew` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `entrytype` varchar(20) DEFAULT NULL,
  `orgid` varchar(10) DEFAULT NULL,
  `itemcode` varchar(50) NOT NULL,
  `itemname` varchar(100) DEFAULT NULL,
  `qtyonhand` decimal(10,2) DEFAULT NULL,
  `newqty` decimal(10,2) DEFAULT NULL,
  `qtyadjusted` decimal(10,2) DEFAULT '0.00',
  `uom` varchar(100) DEFAULT NULL,
  `adjustedon` datetime DEFAULT CURRENT_TIMESTAMP,
  `handler` varchar(100) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesitemlognew`
--

LOCK TABLES `salesitemlognew` WRITE;
/*!40000 ALTER TABLE `salesitemlognew` DISABLE KEYS */;
/*!40000 ALTER TABLE `salesitemlognew` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salesorders`
--

DROP TABLE IF EXISTS `salesorders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `salesorders` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `so_code` varchar(100) DEFAULT NULL,
  `so_owner` varchar(255) DEFAULT NULL,
  `so_comp_code` varchar(100) DEFAULT NULL,
  `so_customer` varchar(100) DEFAULT NULL,
  `so_cust_ref_no` varchar(20) DEFAULT NULL,
  `so_vendor` varchar(255) DEFAULT NULL,
  `so_description` varchar(255) DEFAULT NULL,
  `so_date` varchar(100) DEFAULT NULL,
  `so_payterm` varchar(255) DEFAULT NULL,
  `so_payterm_desc` varchar(50) DEFAULT NULL,
  `so_shippingvia` varchar(100) DEFAULT NULL,
  `so_deliveryat` varchar(100) DEFAULT NULL,
  `so_deliverydate` varchar(100) DEFAULT NULL,
  `so_status` varchar(15) DEFAULT NULL,
  `so_freight` varchar(255) DEFAULT NULL,
  `so_cust_shipping_street` varchar(255) DEFAULT NULL,
  `so_cust_shipping_city` varchar(255) DEFAULT NULL,
  `so_cust_shipping_state` varchar(255) DEFAULT NULL,
  `so_cust_shipping_country` varchar(255) DEFAULT NULL,
  `so_cust_shipping_zip` varchar(255) DEFAULT NULL,
  `so_cust_shipping_phone` varchar(255) DEFAULT NULL,
  `so_cust_shipping_gstin` varchar(255) DEFAULT NULL,
  `so_cust_billing_street` varchar(255) DEFAULT NULL,
  `so_cust_billing_city` varchar(255) DEFAULT NULL,
  `so_cust_billing_state` varchar(255) DEFAULT NULL,
  `so_cust_billing_country` varchar(255) DEFAULT NULL,
  `so_cust_billing_zip` varchar(255) DEFAULT NULL,
  `so_cust_billing_phone` varchar(255) DEFAULT NULL,
  `so_cust_billing_gstin` varchar(255) DEFAULT NULL,
  `so_value` varchar(100) DEFAULT NULL,
  `so_tc` varchar(255) DEFAULT NULL,
  `so_notes` varchar(255) DEFAULT NULL,
  `so_items` longtext,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salesorders`
--

LOCK TABLES `salesorders` WRITE;
/*!40000 ALTER TABLE `salesorders` DISABLE KEYS */;
/*!40000 ALTER TABLE `salesorders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scrapinventory`
--

DROP TABLE IF EXISTS `scrapinventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `scrapinventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `entrytype` varchar(20) NOT NULL,
  `scrap_itemcode` varchar(20) NOT NULL,
  `scrap_itemname` varchar(100) NOT NULL,
  `scrap_qty` decimal(10,2) NOT NULL,
  `scrap_uom` varchar(10) NOT NULL,
  `scrap_orgid` varchar(10) NOT NULL,
  `scrap_from_itemcode` varchar(10) NOT NULL,
  `scrap_from_itemname` varchar(100) NOT NULL,
  `scrap_from_qty` decimal(10,2) NOT NULL,
  `scrap_from_uom` varchar(30) NOT NULL,
  `scrap_inventory_qty` decimal(10,2) NOT NULL DEFAULT '0.00',
  `scrap_inventory_uom` varchar(30) NOT NULL,
  `scrap_updated_on` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `handler` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scrapinventory`
--

LOCK TABLES `scrapinventory` WRITE;
/*!40000 ALTER TABLE `scrapinventory` DISABLE KEYS */;
INSERT INTO `scrapinventory` VALUES (18,'self','LENSCRAP-001','scrap one',1.00,'GROSS','COMP001','LEN-04','Inward one ',10.00,'CVR',10.00,'GROSS','2019-10-19 08:01:43','Lento'),(19,'self','LENSCRAP-0019','Sugar bags',1.00,'BAG','COMP001','LEN-04','Inward one ',50.00,'CVR',8.00,'BAG','2019-10-19 08:03:34','Lento');
/*!40000 ALTER TABLE `scrapinventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `state`
--

DROP TABLE IF EXISTS `state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `state` (
  `id` int(10) NOT NULL DEFAULT '0',
  `code` varchar(30) NOT NULL,
  `description` varchar(100) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `state`
--

LOCK TABLES `state` WRITE;
/*!40000 ALTER TABLE `state` DISABLE KEYS */;
/*!40000 ALTER TABLE `state` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `state_lookups`
--

DROP TABLE IF EXISTS `state_lookups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `state_lookups` (
  `id` int(10) NOT NULL DEFAULT '0',
  `code` varchar(30) NOT NULL,
  `description` varchar(100) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `state_lookups`
--

LOCK TABLES `state_lookups` WRITE;
/*!40000 ALTER TABLE `state_lookups` DISABLE KEYS */;
/*!40000 ALTER TABLE `state_lookups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_movement`
--

DROP TABLE IF EXISTS `stock_movement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_movement` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `stk_mov_id` varchar(15) DEFAULT NULL,
  `stk_mov_type` varchar(10) DEFAULT NULL,
  `stk_mov_owner` varchar(100) DEFAULT NULL,
  `stk_mov_req_date` varchar(10) DEFAULT NULL,
  `stk_mov_location` varchar(255) DEFAULT NULL,
  `stk_value` varchar(100) DEFAULT NULL,
  `stk_mov_category` varchar(100) DEFAULT NULL,
  `stk_mov_docref` varchar(255) DEFAULT NULL,
  `stk_mov_status` varchar(100) DEFAULT NULL,
  `stk_mov_items` longtext,
  `stk_mov_notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_movement`
--

LOCK TABLES `stock_movement` WRITE;
/*!40000 ALTER TABLE `stock_movement` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_movement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppbank`
--

DROP TABLE IF EXISTS `suppbank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppbank` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `supcode` varchar(25) NOT NULL,
  `bankname` varchar(25) DEFAULT NULL,
  `acctno` varchar(20) NOT NULL,
  `acctname` varchar(40) NOT NULL,
  `acctype` varchar(20) NOT NULL,
  `branch` varchar(30) NOT NULL,
  `ifsc` varchar(25) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppbank`
--

LOCK TABLES `suppbank` WRITE;
/*!40000 ALTER TABLE `suppbank` DISABLE KEYS */;
INSERT INTO `suppbank` VALUES (001,'DAPL/GST009/001','Indian','12312312','dsfdsfsd','Savings','sdfsdf','123324'),(003,'DAPL/GST3434342/003','Indian Bank','121212','asdas`','Savings','sfdf','21432423'),(004,'DAPL/1234567890/001','HDFC Bank','1234567890','Hitesh Plastics','Savings','Vellore','98999'),(005,'00001','HDFC Bank','1234567890','Capricord Food Produts','Current','Krishnagiri','HDFC9897001');
/*!40000 ALTER TABLE `suppbank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suptype`
--

DROP TABLE IF EXISTS `suptype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suptype` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `suptype` varchar(100) NOT NULL,
  `description` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suptype`
--

LOCK TABLES `suptype` WRITE;
/*!40000 ALTER TABLE `suptype` DISABLE KEYS */;
INSERT INTO `suptype` VALUES (001,'Distributor','Distributor'),(002,'Material Supplier','Material Supplier'),(003,'Wholesaler','Wholesaler'),(004,'Retailer','Retailer');
/*!40000 ALTER TABLE `suptype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taxmaster`
--

DROP TABLE IF EXISTS `taxmaster`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taxmaster` (
  `id` int(3) NOT NULL AUTO_INCREMENT,
  `prefix` varchar(10) DEFAULT NULL,
  `postfix` varchar(10) DEFAULT NULL,
  `taxname` varchar(100) NOT NULL,
  `description` varchar(40) NOT NULL,
  `taxtype` varchar(50) NOT NULL,
  `taxrate` decimal(10,2) NOT NULL,
  `createdon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taxmaster`
--

LOCK TABLES `taxmaster` WRITE;
/*!40000 ALTER TABLE `taxmaster` DISABLE KEYS */;
/*!40000 ALTER TABLE `taxmaster` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transportmaster`
--

DROP TABLE IF EXISTS `transportmaster`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transportmaster` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `transname` varchar(40) NOT NULL,
  `vtype` varchar(40) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transportmaster`
--

LOCK TABLES `transportmaster` WRITE;
/*!40000 ALTER TABLE `transportmaster` DISABLE KEYS */;
INSERT INTO `transportmaster` VALUES (001,'ARC Parcel Services','Truck');
/*!40000 ALTER TABLE `transportmaster` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uom`
--

DROP TABLE IF EXISTS `uom`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `uom` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `description` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uom`
--

LOCK TABLES `uom` WRITE;
/*!40000 ALTER TABLE `uom` DISABLE KEYS */;
/*!40000 ALTER TABLE `uom` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `uom_lookups`
--

DROP TABLE IF EXISTS `uom_lookups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `uom_lookups` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `description` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `uom_lookups`
--

LOCK TABLES `uom_lookups` WRITE;
/*!40000 ALTER TABLE `uom_lookups` DISABLE KEYS */;
/*!40000 ALTER TABLE `uom_lookups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_forgot_password`
--

DROP TABLE IF EXISTS `user_forgot_password`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_forgot_password` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `token` varchar(500) NOT NULL,
  `createdon` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_forgot_password`
--

LOCK TABLES `user_forgot_password` WRITE;
/*!40000 ALTER TABLE `user_forgot_password` DISABLE KEYS */;
INSERT INTO `user_forgot_password` VALUES (1,'saravanas.office@gmail.com','8e5710705445a85cc571c5903456d17a','2018-11-26 05:36:07'),(2,'rasaafactory@gmail.com','93b718e8f7a5724f54a07ac23eb802f2','2019-02-06 03:42:30'),(3,'rasaafactory@gmail.com','75165928c8cc1948f9f5d1fc4136ee5c','2019-02-06 03:45:12'),(4,'rasaafactory@gmail.com','92b131a5c4b9e3b8a226d8755f3a5279','2019-03-07 08:34:36'),(5,'rasaafactory@gmail.com','b697d315e7cc6695058dad5358be91e9','2019-03-19 06:48:03');
/*!40000 ALTER TABLE `user_forgot_password` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usergroups`
--

DROP TABLE IF EXISTS `usergroups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `usergroups` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `userid` int(11) unsigned NOT NULL,
  `groupid` mediumint(8) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usergroups`
--

LOCK TABLES `usergroups` WRITE;
/*!40000 ALTER TABLE `usergroups` DISABLE KEYS */;
/*!40000 ALTER TABLE `usergroups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userprofile`
--

DROP TABLE IF EXISTS `userprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `userprofile` (
  `id` int(1) unsigned NOT NULL AUTO_INCREMENT,
  `userid` varchar(100) NOT NULL,
  `username` varchar(255) NOT NULL,
  `firstname` varchar(40) NOT NULL,
  `lastname` varchar(40) NOT NULL,
  `designation` varchar(100) NOT NULL,
  `gender` varchar(10) NOT NULL,
  `useremail` varchar(255) NOT NULL,
  `userpassword` varchar(255) NOT NULL,
  `repass` varchar(255) NOT NULL,
  `mobile` varchar(15) NOT NULL,
  `address` varchar(255) NOT NULL,
  `groupname` varchar(35) NOT NULL,
  `compcode` varchar(40) NOT NULL,
  `status` varchar(10) NOT NULL DEFAULT '1',
  `image_name` varchar(155) NOT NULL,
  `image` longblob,
  `emailverified` varchar(10) NOT NULL DEFAULT '0',
  `createdon` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `createdby` varchar(30) DEFAULT NULL,
  `validtill` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userprofile`
--

LOCK TABLES `userprofile` WRITE;
/*!40000 ALTER TABLE `userprofile` DISABLE KEYS */;
INSERT INTO `userprofile` VALUES (1,'L001','Lento','Lento Agro India Pvt ','Ltd','Administrator','1','lento@gmail.com','Lento@2019','Lento@2019','9750996500','Pochampalli','Admin','COMP001','1','upload/lento-logo.png',NULL,'0','2019-09-14 06:07:13',NULL,'2019-09-14 06:07:13'),(2,'L002','Saravanakumar','Saravana','Kumar','Manager','1','saravanas.office@gmail.com','Demo@2019','Demo@2019','9677573737','bargur','Admin','001','1','upload/download.jpg',NULL,'0','2019-10-06 12:37:28',NULL,'2019-10-06 12:37:28');
/*!40000 ALTER TABLE `userprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_name` varchar(255) NOT NULL,
  `user_email` varchar(255) NOT NULL,
  `user_pass` varchar(255) NOT NULL,
  `user_repass` varchar(255) NOT NULL,
  `user_mobile` varchar(15) NOT NULL,
  `user_address` varchar(255) NOT NULL,
  `user_role` varchar(25) NOT NULL,
  `user_status` varchar(10) NOT NULL DEFAULT '0',
  `image_name` varchar(155) NOT NULL,
  `image` longblob NOT NULL,
  `user_createdon` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`user_name`),
  UNIQUE KEY `user_name` (`user_name`),
  UNIQUE KEY `user_email` (`user_email`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_refund`
--

DROP TABLE IF EXISTS `vendor_refund`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendor_refund` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `v_refund_id` varchar(20) DEFAULT NULL,
  `v_refund_creditsid` varchar(20) DEFAULT NULL,
  `v_refund_refno` varchar(100) DEFAULT NULL,
  `v_refund_paymentmode` varchar(255) DEFAULT NULL,
  `v_refund_paymentdate` varchar(10) DEFAULT NULL,
  `v_refund_amount` decimal(10,2) DEFAULT NULL,
  `v_refund_handler` varchar(100) DEFAULT NULL,
  `v_refund_notes` varchar(255) DEFAULT NULL,
  `v_refund_date` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_refund`
--

LOCK TABLES `vendor_refund` WRITE;
/*!40000 ALTER TABLE `vendor_refund` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor_refund` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendorcredits`
--

DROP TABLE IF EXISTS `vendorcredits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendorcredits` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `v_credits_id` varchar(20) DEFAULT NULL,
  `v_credits_suptype` varchar(100) DEFAULT NULL,
  `v_credits_vendorid` varchar(10) DEFAULT NULL,
  `v_credits_paymentmode` varchar(255) DEFAULT NULL,
  `v_credits_refno` varchar(100) DEFAULT NULL,
  `v_credits_paymentdate` varchar(10) DEFAULT NULL,
  `v_credits_amount` decimal(10,2) DEFAULT NULL,
  `v_credits_availcredits` decimal(10,2) DEFAULT NULL,
  `v_credits_handler` varchar(100) DEFAULT NULL,
  `v_credits_notes` varchar(255) DEFAULT NULL,
  `v_credits_image` varchar(155) DEFAULT NULL,
  `v_credits_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `v_credits_email_notification` varchar(5) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendorcredits`
--

LOCK TABLES `vendorcredits` WRITE;
/*!40000 ALTER TABLE `vendorcredits` DISABLE KEYS */;
INSERT INTO `vendorcredits` VALUES (1,'CN001',NULL,'00001','Cash',NULL,'2019-10-19',1000.00,900.00,'Lento','notes',NULL,'2019-10-19 08:26:49','no');
/*!40000 ALTER TABLE `vendorcredits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendorcredits_log`
--

DROP TABLE IF EXISTS `vendorcredits_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendorcredits_log` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `creditrefno` varchar(50) NOT NULL,
  `vendorid` varchar(50) NOT NULL,
  `oldcredits` decimal(10,2) NOT NULL,
  `newcredits` decimal(10,2) NOT NULL,
  `dateofpayment` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `handler` varchar(100) NOT NULL,
  `notes` varchar(255) NOT NULL,
  `image` varchar(155) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendorcredits_log`
--

LOCK TABLES `vendorcredits_log` WRITE;
/*!40000 ALTER TABLE `vendorcredits_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendorcredits_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendorprofile`
--

DROP TABLE IF EXISTS `vendorprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendorprofile` (
  `id` int(3) unsigned zerofill NOT NULL AUTO_INCREMENT,
  `vendorid` varchar(50) NOT NULL,
  `vendor_opening_bal` varchar(100) DEFAULT NULL,
  `prefix` varchar(15) DEFAULT 'DAPL',
  `postfix` varchar(50) NOT NULL DEFAULT '/',
  `title` varchar(6) NOT NULL,
  `supname` varchar(50) NOT NULL,
  `portal` varchar(100) DEFAULT NULL,
  `suptype` varchar(50) NOT NULL,
  `blocation` varchar(100) NOT NULL,
  `industry` varchar(50) DEFAULT NULL,
  `address` varchar(255) NOT NULL,
  `city` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `zip` varchar(30) NOT NULL,
  `workphone` varchar(30) NOT NULL,
  `mobile` varchar(12) NOT NULL,
  `email` varchar(40) NOT NULL,
  `web` varchar(40) NOT NULL,
  `gstin` varchar(25) NOT NULL,
  `gstregdate` date DEFAULT NULL,
  `openbalance` decimal(10,2) NOT NULL DEFAULT '0.00',
  `obasofdate` date DEFAULT NULL,
  `createdon` datetime DEFAULT CURRENT_TIMESTAMP,
  `createdby` varchar(100) DEFAULT NULL,
  `updatedon` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedby` varchar(100) DEFAULT NULL,
  `status` varchar(10) NOT NULL DEFAULT '1',
  `handler` varchar(100) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendorprofile`
--

LOCK TABLES `vendorprofile` WRITE;
/*!40000 ALTER TABLE `vendorprofile` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendorprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouse`
--

DROP TABLE IF EXISTS `warehouse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `warehouse` (
  `id` int(10) NOT NULL AUTO_INCREMENT,
  `location_id` varchar(20) NOT NULL,
  `warehousename` varchar(100) NOT NULL,
  `description` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouse`
--

LOCK TABLES `warehouse` WRITE;
/*!40000 ALTER TABLE `warehouse` DISABLE KEYS */;
INSERT INTO `warehouse` VALUES (2,'LOC001','Raw Material Store','Raw Material Store'),(3,'LOC003','Production Center','Production Center'),(4,'LOC004','Export Store','Export Store');
/*!40000 ALTER TABLE `warehouse` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-10-22  8:22:40
